<div class="container">
  <form #emailForm="ngForm" (submit)="onSubmit()">
    <div class="field">
      <label class="label">Enter Email</label>
      <input
        class="input"
        type="email"
        pattern=".+@.+\..+"
        required
        name="email"
        [(ngModel)]="email"
        #emailConrol="ngModel"
        [ngClass]="{ 'is-danger': emailConrol.invalid && emailConrol.touched }"
      />
      <ng-container *ngIf="emailConrol.invalid && emailConrol.touched">
        <div class="help is-danger" *ngIf="emailConrol.errors.required">
          Enter email
        </div>
        <div class="help is-danger" *ngIf="emailConrol.errors.pattern">
          Enter correct email.
        </div>
      </ng-container>
    </div>
    <button class="button is-primary" [disabled]="emailForm.invalid">
      Submit
    </button>
  </form>
 </div>
